/* Add custom fonts (@font-face method) */
/* ------------------------- */

/* RT Icons Font */
@font-face {
    font-family: 'rt-icons-2';
    src:url('../fonts/rt-icons/rt-icons-2.eot?wz19bt');
    src:url('../fonts/rt-icons/rt-icons-2.eot?#iefixwz19bt') format('embedded-opentype'),
    url('../fonts/rt-icons/rt-icons-2.ttf?wz19bt') format('truetype'),
    url('../fonts/rt-icons/rt-icons-2.woff?wz19bt') format('woff'),
    url('../fonts/rt-icons/rt-icons-2.svg?wz19bt#rt-icons-2') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Arkana Script */
@font-face {
    font-family: 'Arkana Script';
    src: url('../fonts/arkana/ArkanaScriptRough.eot');
    src: url('../fonts/arkana/ArkanaScriptRough.eot?#iefix') format('embedded-opentype'),
    url('../fonts/arkana/ArkanaScriptRough.woff') format('woff'),
    url('../fonts/arkana/ArkanaScriptRough.ttf') format('truetype'),
    url('../fonts/arkana/ArkanaScriptRough.svg#ArkanaScriptRoughregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/** Proxima Nova **/
/* Bold */
@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/proxima-nova/Proxima-Nova-Bold.otf');
}

/* Regular */
@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('../fonts/proxima-nova/Proxima-Nova-Regular.otf');
}

/* Thin */
@font-face {
    font-family: 'Proxima Nova Thin';
    src: url('../fonts/proxima-nova/Proxima-Nova-Thin.otf');
}
