.logo-small {
  width: 70px !important;
  padding: 15px;
}

.team-logo {
  text-align: center;
  margin: 0;
  padding: 0;
}

.team-logo img {
  width: 22%;
  margin-top: -30px;
}

.no-background-container {
  margin-top: 3em;
}

.no-background-container h3 {
  color: white;
}
